{% extends "base.html" %}

{% block head %}

<script>
    $(document).ready(function() {
                $('#data').click(function(){
                    $.get("/ajax_result/",{}, function(data){
                        $("#loader").html(data);
                    });
                });
    });
</script>
{% endblock head %}

{% block content %}
    <h2 id="h2" style="text-align: center;">
        <div class="col-sm-12 blog-main">
            Some info about that resource
        </div>
    </h2>
    <form method="post">{% csrf_token %}
        <button id="data" >Load data</button>
    </form>
    <br/>
    <h3 style="text-align: center; font-style: italic;">
        <p>
            This site created for quick search sources. Choose category and enjoy.
        </p>
    </h3>
    <p id="loader" class="col-sm-12 blog-main">
        {% for d in data %}
            {{ d }}
        {% endfor %}
    </p>


{% endblock content %}