{% extends "base.html" %}

{% block head %}
    <script type="text/javascript">
        $(document).ready(function() {
            $(".like").click(function(){
                var link_id = $(this).attr("data-rate");
                $.get(
                '/like/',
                {link_id: link_id, like: 1},
                function(data){
                    $('#like_count'+link_id).html(data);
                });
            });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function() {
            $(".dislike").click(function(){
                var link_id = $(this).attr("data-rate");
                $.get(
                '/like/',
                {link_id: link_id, dislike: 1},
                function(data){
                    $('#like_count'+link_id).html(data);
                });
            });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function() {
            $("#filter_rate").keyup(function(){
                var filter_value = $(this).attr("value");
                $.get(
                '/rating_filter/',
                {filter_value: filter_value},
                function(data){
                    $('.col-sm-6').html(data);
                });
            });
        });
    </script>
{% endblock head %}

{% block content %}
        <div class="col-sm-3 col-sm-offset-0 blog-sidebar">
            <form action="." method="get">
                {% if not error%}
                    <label>Search category by keyword: </label>
                    <br/>
                    <input type="text" name="search" />
                {% else %}
                    {% for e in error %}
                        <p class="auth-button"><strong>{{ e }}</strong></p>
                    {% endfor %}
                {% endif %}
                <input type="submit" value="Search" />
            </form>
        <br/>
        <br/>
        <br/>
            <form action="." method="get">
                <label>Search category by list: </label>
                <br/>
                <select  name="category">
                    {% for cat in category %}
                        <option name="cat_val">{{ cat.category }}</option>
                    {% endfor %}
                </select>
                <input type="submit" value="Search" />
            </form>
            <br/>
            <br/>
            <br/>
            <div>
                <form action="." name="get">
                    <label>Filter by rate:</label>
                    <input id="filter_rate" class="ui-slider-horizontal" type="range" main="0" max="100" step="1" value="100" name="rating" />
                </form>
            </div>
        </div>
        <div class="col-sm-6 blog-main">
            {% if links %}
                {% for link in links %}

                    <div class="link-body-block">
                        <p class="link-url">
                            <a id="name_link" href="{{ link.linkUrl }}" target="_blank">{{ link.linkUrl }}</a>
                        </p>
                        <p class="link-description">{{ link.description }}</p>
                        <p>
                            <button class="btn btn-mini btn-success like" name="up" data-rate="{{ link.id }}">Like</button>
                            <button class="btn btn-mini btn-danger dislike" name="down" data-rate="{{ link.id }}">Dislike</button>
                            <span>
                                <label id="rating-label">Rating: </label>
                            </span>
                            <span id="like_count{{ link.id }}" class="like_count">{{ link.rating }}</span>
                        </p>
                    </div>
                    <br/>
                {% endfor %}
            {% else %}
                <div id="no-category-block">
                    <p id="no-category-description">No such categories</p>
                </div>
            {% endif %}
        </div>
    <div class="col-sm-3 col-sm-offset-0 blog-sidebar" >
        <p class="partners-header"><strong>Partners</strong></p>
        <div class="partner-link">
            <p><a href="http://microsoft.com" >Microsoft</a></p>
            <p><a href="http://python.org" >Python</a></p>
            <p><a href="http://wiki.org" >Wikipedia</a></p>
        </div>
    </div>


{% endblock content %}