{% extends "base.html" %}

{% block head %}
    <div style="background-color: #e5e5e5;">
        <h3 style="text-align: center; padding-top: 4%; color: #5e5e5e; margin-top: 3px;">
            <span>At this site you can find interesting links.
                It let you out from googling long time</span>
        </h3>
    </div>
    <script type="text/javascript">
        $(document).ready(function() {
            $(".like").click(function(){
                var link_id = $(this).attr("data-rate");
                $.get(
                '/like/',
                {link_id: link_id, like: 1},
                function(data){
                    $('#like_count'+link_id).html(data);
                });
            });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function() {
            $(".dislike").click(function(){
                var link_id = $(this).attr("data-rate");
                $.get(
                '/like/',
                {link_id: link_id, dislike: 1},
                function(data){
                    $('#like_count'+link_id).html(data);
                });
            });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function() {
            $("#filter_rate").keyup(function(){
                var filter_value = $(this).attr("value");
                $.get(
                '/rating_filter/',
                {filter_value: filter_value},
                function(data){
                    $('.col-sm-6').html(data);
                });
            });
        });
    </script>
{% endblock head %}

{% block content %}
        <div class="col-sm-3 col-sm-offset-0 blog-sidebar">
            <form action="." method="get">
                {% if not error%}
                    <label>Search category by keyword: </label>
                    <br/>
                    <input type="text" name="search" />
                {% else %}
                    {% for e in error %}
                        <p style="color:red;"><strong>{{ e }}</strong></p>
                    {% endfor %}
                {% endif %}
                <input type="submit" value="Search" />
            </form>
        <br/>
        <br/>
        <br/>
            <form action="." method="get">
                <label>Search category by list: </label>
                <br/>
                <select  name="category">
                    {% for cat in category %}
                        <option name="cat_val">{{ cat }}</option>
                    {% endfor %}
                </select>
                <input type="submit" value="Search" />
            </form>
            <br/>
            <br/>
            <br/>
            <div>
                <form action="." name="get">
                    <label>Filter by rate:</label>
                    <input id="filter_rate" class="ui-slider-horizontal" type="range" main="0" max="100" step="1" value="100" name="rating" />
                </form>
            </div>
        </div>
        <div class="col-sm-6 blog-main">
            {% if links %}
                {% for link in links %}

                    <div style="background-color: #ebebe0; text-align: center; border: 2px dashed black;">
                        <p style="font-size: 16px; color: green;">
                            <a id="name_link" href="{{ link.linkUrl }}" target="_blank">{{ link.linkUrl }}</a>
                        </p>
                        <p style="font-size: 14px; font-style: italic;">{{ link.description }}</p>
                        <p>
                            <button class="btn btn-mini btn-primary like" name="up" data-rate="{{ link.id }}">Like</button>
                            <button class="btn btn-mini btn-primary dislike" name="down" data-rate="{{ link.id }}">Dislike</button>
                            <span>
                                <label>Rating: </label>
                            </span>
                            <span id="like_count{{ link.id }}" class="like_count" style="font-size: 25px; color: red;">{{ link.rating }}</span>
                        </p>
                    </div>
                    <br/>
                {% endfor %}
            {% else %}
                <div style="text-align: center;">
                    <p style="color: #adadad; font-size: 30px;">No such categories</p>
                </div>
            {% endif %}
        </div>
    <div class="col-sm-3 col-sm-offset-0 blog-sidebar" style="font-size: 16px;">
    <p style="font-size: 24px;"><strong>Banners</strong></p>
    <a href="http://freevjachlink.com" target="_blank">
        <img data-holder-rendered="true" src="/static/images/link.png" style="width: 200px; height: 200px;" class="img-thumbnail">
    </a>
        <br/>
        <a href="http://freevjachlink.com" target="_blank">
        <img data-holder-rendered="true" src="/static/images/link.png" style="width: 200px; height: 200px;" class="img-thumbnail">
    </a>
        <p style="font-size: 24px;"><strong>Partners</strong></p>
        <p><a href="http://microsoft.com" style="color: black;">Microsoft</a></p>
        <p><a href="http://python.org" style="color: black;">Python</a></p>
        <p><a href="http://wiki.org" style="color: black;">Wikipedia</a></p>
    </div>


{% endblock content %}