{% extends "base.html" %}

{% block head %}
    <div style="background-color: black;">
        <h3 style="text-align: center; padding-top: 5%; color: gold;">
            <span>At this site you can find interesting links.
                It let you out from googling long time</span>
        </h3>
    </div>

{% endblock head %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#like').click(function(){
                var rate;
                rate = $(this).attr("data-rate");
                name_link = $(this).get("name_link");
                $.ajax(
                    url: '/like/',
                    type: "GET",
                    data: {rate: rate, name_link: name_link},
                    success: function(response){
                        $('#like_count').html(data);
                        $('#like').hide();
                    });
            });
        });
    </script>
{% block content %}
        <div class="col-sm-3 col-sm-offset-0 blog-sidebar">
            <form action="." method="get">
                {% if not error%}
                    <label>Search category by keyword: </label>
                    <input type="text" name="search" />
                {% else %}
                    {% for e in error %}
                        <p style="color:red;"><strong>{{ e }}</strong></p>
                    {% endfor %}
                {% endif %}
                <input type="submit" value="Search" />
            </form>
        <br/>
        <br/>
        <br/>
            <form action="." method="get">
                <label>Search category by list: </label>
                <br/>
                <select  name="category">
                    {% for cat in category %}
                        <option name="cat_val">{{ cat }}</option>
                    {% endfor %}
                </select>
                <input type="submit" value="Search" />
            </form>
        </div>
        <div class="col-sm-6 blog-main">
            {% for link in links %}
                    <div style="background-color: #ebebe0; text-align: center; border: 2px dashed black;">
                        <p style="font-size: 16px; color: green;">
                            <a id="name_link" href="{{ link.linkUrl }}" target="_blank">{{ link.linkUrl }}</a>
                        </p>
                        <p style="font-size: 14px; font-style: italic;">{{ link.description }}</p>
                        <p>
                                <button id="like" class="btn btn-mini btn-primary" type="button" name="up" data-rate="{{link.rating}}">Like</button>
                                <button id="dislike" class="btn btn-mini btn-primary" type="button" data-rate="{{link.rating}}" name="down">Dislike</button>
                                <span id="like_count" style="font-size: 14px; color: #8D5C6C;">Rate: {{ link.rating }}</span>
                        </p>

                    </div>
                    <br/>
            {% endfor %}
        </div>
    <div class="col-sm-3 col-sm-offset-0 blog-sidebar" style="font-size: 16px;">
    <p style="font-size: 24px;"><strong>Banners</strong></p>
    <a href="http://freevjachlink.com" target="_blank">
        <img data-holder-rendered="true" src="/static/images/link.png" style="width: 200px; height: 200px;" class="img-thumbnail">
    </a>
        <br/>
        <a href="http://freevjachlink.com" target="_blank">
        <img data-holder-rendered="true" src="/static/images/link.png" style="width: 200px; height: 200px;" class="img-thumbnail">
    </a>
        <p style="font-size: 24px;"><strong>Partners</strong></p>
        <p><a href="http://microsoft.com" style="color: black;">Microsoft</a></p>
        <p><a href="http://python.org" style="color: black;">Python</a></p>
        <p><a href="http://wiki.org" style="color: black;">Wikipedia</a></p>
    </div>


{% endblock content %}