<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All type Fields</title>
</head>
<body>
    <h2>All Type</h2>
    <div>
        {% for type in object_list %}
            <p><b>Text:</b> {{ type.text }}</p>
            <p><b>Aggregate:</b> {{ type.aggregate_field }}</p>
            <p><b>Big Int:</b> {{ type.bigint_field }}</p>
            <p><b>Binary:</b> {{ type.binary_field }}</p>
            <p><b>Boolean:</b> {{ type.boolean_field }}</p>
            <p><b>Char:</b> {{ type.char_field }}</p>
            <p><b>Comma Separated:</b> {{ type.comma_separ_field }}</p>
            <p><b>Date: </b>{{ type.date_field }}</p>
            <p><b>Datetime: </b>{{ type.datetime_field }}</p>
            <p><b>Decimal: </b>{{ type.decimal_field }}</p>
            <p><b>Duration: </b>{{ type.duration_field }}</p>
            <p><b>Email: </b>{{ type.email_field }}</p>
            <p><b>Float: </b>{{ type.float_field }}</p>
            <p><b>Integer: </b>{{ type.integer_field }}</p>
            <p><b>IP: </b>{{ type.ip_field }}</p>
            <p><b>Null Boolean: </b>{{ type.null_bool_field }}</p>
            <p><b>Positive Integer: </b>{{ type.positive_integer_field }}</p>
            <p><b>Slug: </b>{{ type.slug }}</p>
            <p><b>Time: </b>{{ type.time }}</p>
            <p><b>Url: </b><a href="{{ type.url_field }}">{{ type.url_field }}</a></p>
        {% endfor %}
    </div>


</body>
</html>