{% extends "base.html" %}
{% block new_post%}
    <div class="jumbotron col-lg-8" style="margin-left: 15%; padding-left: 100px;">
        <h1>Try to login in my system:</h1>
        <form action="." method="post">
            {% csrf_token %}
            <input type="text" name="username" placeholder="login.."/>
            <input type="password" name="password" placeholder="*******"/>
            <input class="btn btn-lg btn-success" type="submit" value="Submit"/>
        </form>
    </div>
{% endblock new_post%}